<div class="hero-image">
    <div class="hero-text">
        <h1>CulTourist</h1>
    </div>
</div>
<div class="container center-align">
    <div class="row">
        <h2 class="center-align">Know before you go!</h2>
        <div class="col s4 offset-s4">
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn btn-large blue darken-4' href='#' data-target='dropdown1'>Choose a
                country!</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                {{#each countries}}
                <li><a href="/country/{{this.name}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <h3 class="center-align">Been there... share your experience!</h3>
        <a class="waves-effect waves-light btn-large blue darken-4" href="/post">Write Post</a>
    </div>
</div>
<script src="/assets/index.js"></script>