<!--HANDLEBARS CONTAINER FOR CREATING A USER POSTING PROFILE AND NEW POST-->
<div class="container center-align padding">
    <div class="row">
        <form class="col s12" id="newUserForm">
            <h3>New Here? Create a Posting Profile!</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="User Name" id="newUser" type="text" class="validate">
                    <p class="red-text left" id="newUserError"></p>
                </div>
                <button class="btn waves-effect waves-light blue darken-4" id="newUserSubmit" type="submit">Create New
                    User
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <form class="col s12" id="newPost">
            <h3>Create New Post</h3>
            <div class="row">
                <div class="input-field col s12">
                    <select id="name">
                        <option value="" disabled selected>Choose a User Name</option>
                        {{#each userNames}}
                        <option value="{{this.id}}">{{this.full_name}}</option>
                        {{/each}}
                    </select>
                    <p class="red-text left" id="userError"></p>
                </div>
                <div class="input-field col s12">
                    <select id="country">
                        <option value="" disabled selected>Choose a Country</option>
                        {{#each countryList}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <p class="red-text left" id="countryError"></p>
                </div>
                <div class="input-field col s12">
                    <select id="category">
                        <option value="" disabled selected>Choose a Category</option>
                        <option value="Customs">Customs</option>
                        <option value="Slang">Slang</option>
                        <option value="Taboos">Taboos</option>
                        <option value="Scam">Scam</option>
                    </select>
                    <p class="red-text left" id="categoryError"></p>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Post Title" id="title" type="text" class="validate">
                    <p class="red-text left" id="titleError"></p>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Enter your travel insight." id="body" type="text" class="validate">
                    <p class="red-text left" id="bodyError"></p>
                </div>
                <button class="btn waves-effect waves-light blue darken-4" type="submit">Post
                </button>
            </div>
        </form>
    </div>
    <div class="container center-align">
        <div class="row">
            <div class="col s12" id="badgeExplanation">
                <h2>Get Badges for Posting!</h2>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s6">
                <h4 class="header">1st Post Badge</h4>
                <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/turtle.png" alt="Turtle Badge">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                    <p>Congratulations! You're on your way to helping other travellers.
                    </p>
                    </div>
                </div>
                </div>
            </div>
                <div class="col s6">
                    <h4 class="header">5th Post Badge</h4>
                    <div class="card horizontal">
                    <div class="card-image">
                        <img src="/assets/images/moose.png" alt="Moose Badge">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                        <p>Nice Job! Your insights are awesome. Keep it up!
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row center-align">
            <div class="col s6">
                <h4 class="header">10th Post Badge</h4>
                <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/muffin.png" alt="Muffin Badge">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                    <p>"Sweet! Your advice is helping millions!"
                    </p>
                    </div>
                </div>
                </div>
            </div>
                <div class="col s6">
                    <h4 class="header">25th Post Badge</h4>
                    <div class="card horizontal">
                    <div class="card-image">
                        <img src="/assets/images/saddle.png" alt="Saddle Badge">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                        <p>Quite the world traveller! Keep hoofin'!
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/index.js"></script>