<div class="hero-image">
    <div class="hero-text">
        <h1>CulTourist</h1>
    </div>
</div>
<div class="container center-align">
    <div class="row">
        <form class="col s12">
            <h2>Create New Post</h2>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter Your Name" id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose a Country</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Choose a Country</label>
                </div>
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose a Category</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Choose a Category</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Post Title" id="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Enter your insight." id="body" type="text" class="validate">
                    <label for="body">Travel Insight</label>
                </div>
                <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Post
                </button>
            </div>
        </form>
    </div>
</div>
<script src="/assets/index.js"></script>
