<div class="container center-align">
    <div class="row">
        <form class="col s12" id="newUserForm">
            <h2>New Here? Create a User!</h2>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="New User Name" id="newUser" type="text" class="validate">
                    <label for="newUser">Enter your new user name:</label>
                </div>
                <button class="btn waves-effect waves-light blue darken-4" id="newUserSubmit" type="submit">Create New
                    User
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <form class="col s12" id="post-id">
            <h2>Create New Post</h2>
            <div class="row">
                <div class="input-field col s12">
                    <select id="name">
                        <option value="" disabled selected>Choose a User Name</option>
                        {{#each userNames}}
                        <option value="{{this.id}}">{{this.full_name}}</option>
                        {{/each}}
                    </select>
                    <label>Choose a User Name</label>
                </div>
                <div class="input-field col s12">
                    <select id="country">
                        <option value="" disabled selected>Choose a Country</option>
                        {{#each countryList}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <label>Choose a Country</label>
                </div>
                <div class="input-field col s12">
                    <select id="category">
                        <option value="" disabled selected>Choose a Category</option>
                        <option value="Customs">Customs</option>
                        <option value="Slang">Slang</option>
                        <option value="Taboos">Taboos</option>
                        <option value="Scam">Scam</option>
                    </select>
                    <label>Choose a Category</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Post Title" id="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Enter your insight." id="body" type="text" class="validate">
                    <label for="body">Travel Insight</label>
                </div>
                <button class="btn waves-effect waves-light blue darken-4" type="submit">Post
                </button>
            </div>
        </form>
    </div>
</div>
<script src="/assets/index.js"></script>